@use '../../styles/partials/variables' as *;
.video-info {
  padding-left: 15px;
  padding-right: 15px;

  &__header {
  }
}

.video-details {
  display: flex;
  border-bottom: 1px solid $Mercury;
  border-top: 1px solid $Mercury;
  padding-top: 10px;
  padding-bottom: 5px;
}

.posted-details {
  &__creator {
    margin: 0;
    margin-bottom: 10px;
  }

  &__date {
    margin: 0;
  }
}

.video-numbers {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-left: 30px;
}

.view-details {
  width: 100%;
  display: flex;
  height: 30%;
  margin-bottom: 10px;
  &__icon {
    width: 25px;
  }
  &__count {
    margin: 0;
    margin-left: 5px;
    width: 50%;
  }
}

.likes-details {
  width: 100%;
  display: flex;
  height: 35%;

  &__icon {
    width: 25px;
  }

  &__count {
    margin: 0;
    margin-left: 5px;
    width: 50%;
  }
}
