@use "../../styles/partials/variables" as *;
.comment-section {
  display: flex;
  flex-direction: row;
  padding-left: $padding-a-h;
  padding-right: $padding-a-h;
  flex-wrap: wrap;

  &__amount {
    width: 100%;
    margin: 0;
    margin-bottom: 15px;
  }

  &__avatar {
    height: 36px;
    object-fit: cover;
    border-radius: 100px;
    width: 36px;
    margin-right: 15px;
    margin-top: 20px;
  }
}

.comment-make {
  width: 75.5%;
  margin-bottom: 10px;

  &__header {
    width: 100%;
    font-size: 12px;
    margin: 0;
    margin-bottom: 7px;
  }

  &__input {
    background: $Alabaster;
    border: solid 1px $Mercury;
    padding: 5px;
  }
}

.comment-button {
  width: 100%;
}
