.video-active {
  padding: 0;
  &__poster {
    width: 100%;
    object-fit: cover;
  }
}
//TABLET
@media screen and (min-width: 768px) {
  .video-active {
    width: 100%;
    background-color: black;
    &__poster {
      width: 100%;
      aspect-ratio: 2/1.03;
      object-fit: contain;
    }
  }
}

//DESKTOP
@media screen and (min-width: 1280px) {
  .video-active {
    background-color: black;
    &__poster {
      width: 100%;
      aspect-ratio: 2/0.9;
      object-fit: contain;
    }
  }
}
