@use "../../../styles/partials/variables" as *;
@use "../../../styles/partials/mixins" as *;

.comment-section {
  display: flex;
  flex-direction: row;
  padding-left: $padding-a-h;
  padding-right: $padding-a-h;
  flex-wrap: wrap;

  &__amount {
    width: 100%;
    margin: 0;
    margin-bottom: $padding-a-h;
    @include BC-m;
    font-weight: 600;
    color: $BrainFlix-Black;
  }

  &__avatar {
    height: 36px;
    width: 36px;
    object-fit: cover;
    border-radius: 100px;
    margin-right: $padding-a-h;
    margin-top: 20px;
  }
}

.comment-make {
  width: 80%;
  margin-bottom: $padding-a-h;

  &__header {
    width: 100%;
    @include SH-m;
    margin: 0;
    margin-bottom: 2px;
    color: $Silver;
  }

  &__input {
    background: $Alabaster;
    border: solid 1px $Mercury;
    padding: 5px 5px 5px 10px;
    margin-bottom: 10px;
    width: 100%;
    padding-bottom: 60px;
    box-sizing: border-box;
    &::placeholder {
      color: $BrainFlix-Black;
      font-family: sans-serif;
      @include BC-m;
    }
  }
}

.comment-button {
  width: 100%;
}

//TABLET

@media screen and (min-width: 768px) {
  .comment-section {
    padding-left: 30px;
    padding-right: 30px;
  }

  .comment-make {
    display: flex;
    flex-wrap: wrap;
    width: 92.5%;
    &__input {
      width: 70%;
      padding: 8px 0 0px 15px;
      height: 35px;
      margin: 0;
    }
  }

  .comment-button {
    width: 25%;
    margin-left: 32px;
  }
}

//DESKTOP
@media screen and (min-width: 1280px) {
  .comment-section {
    width: 92%;
    padding-left: 100px;
    padding-right: 0;
    &__avatar {
      margin-right: 30px;
    }
  }

  .comment-make {
    width: 88%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    &__input {
      width: 72%;
    }
  }
  .comment-button {
    margin-left: 10px;
  }
}
