@use "../../styles/partials/variables" as *;

.comment {
  border-top: 1px solid $Mercury;
  padding-top: 10px;
  padding-bottom: 10px;
}

.last-comment {
  border-top: 1px solid $Mercury;
  border-bottom: 1px solid $Mercury;
  padding-top: 10px;
  padding-bottom: 10px;
}

